
/* <!-- div id="xxx"                --> */
/* <!-- here:  #xxx { xxx:ddd}      --> */
/* <!-- div class="xxx"             --> */
/* <!-- here:  div.class { xxx:ddd} --> */
div.userlogin {
	background-color: #CCAADE;
	border:2px dotted orange;
	position: fixed;
	top: 2px;
	right: 2px;
	width: 400px;
	color: #667755;
}

div.insertTopRight  {
	background-color: #AABBCC;
	border:2px dotted green;
	position: fixed;
	top: 250px;
	right: 2px;
	width: 400px;
	color: #448899;
}

body {
	background-color: grey;
	color: darkgray;
	font: 14px sans-serif; }
}

span.help-block {
	color: #CC1122;
}

body.dark {
	background-color: darkgrey;
	color: grey;
}

.wrapper{
	width: 350px;
	padding: 20px;
}
